* {
  margin: 0;
}

.mac {
  margin-top: 17px;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 80px;
}

.Spotknack-Logo {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 33px;
  margin-right: 13px;
}

.dot {
  width: 29px;
}

.Leaderboard {
  margin-top: 25px;
  font-family: Poppins;
  font-size: 25px;
  width: auto;
  color: #797979;
  font-weight: lighter;
}

.Top-Performers {
  height: 37px;
  position: relative;
  margin-top: 25px;
  font-family: Poppins;
  margin-left: 40px;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  width: auto;
}

.growth {
  width: 750px;
  height: 170px;
  margin-top: 160px;
  margin-left: 80px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  color: #000;
}

.talent {
  width: 438px;
  height: 62px;
  margin-top: 30px;
  margin-left: 80px;
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.body-main {
  display: flex;
  align-items: center;
}

.main-2 {
  display: flex;
  flex-direction: column;
}

.main-3 {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-left: 100px;
  margin-top: 180px;
}

.linkedin,
.coins01 {
  width: 50px;
  height: 50px;
}

.side,
.free {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100px;
}

.spa,
.spa-1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
}

.LinkedIn-Posts,
.Coins-Earned {
  font-family: Inter;
  font-size: 20px;
}

.title01 {
  width: 586px;
  height: 53px;
  margin-top: 112px;
  margin-left: 80px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  color: #000;
}

.title02 {
  margin-top: 112px;
  margin-left: 80px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  color: #000;
}

.title03 {
  margin-top: 112px;
  margin-left: 80px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.sub-contain01 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.box01 {
  background-color: #000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 459px;
  gap: 50px;
  height: 120px;
}

.box02 {
  background-color: #ff9900;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 459px;
  gap: 50px;
  height: 120px;
}


.name-contain01 {
  display: flex;
  flex-direction: column;
  width: auto;
}

.coin-contain01 {
  display: flex;
  flex-direction: column;
}

.name01 {
  color: white;
  font-family: Poppins;
}

.name02 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
}


.coins02 {
  width: 35px;
  height: 35px;
}

.image01 {
  width: 80px;
  margin-left: 30px;
  border-radius: 10px;
}

.value01 {
  color: white;
  font-family: Poppins;
  width: auto;
}

.value02 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  width: auto;
}

.type01 {
  color: white;
  font-family: Poppins;
  font-weight: 100;
}

.type02 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-weight: 100;
}

.contain01 {
  display: flex;
}

.tab_box {

  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
  position: relative;

}

.Line-6 {
  width: 1px;
  height: 161px;
  transform: rotate(-180deg);
  opacity: 0.7;
  background-color: #000;
}

.tab_box,
.tab_btn {
  font-size: 19px;
  font-weight: 600;
  color: black;
  background: none;
  border: none;
  padding: 17px;
  cursor: pointer;
}

.tab_box,
.tab_btn.active {
  color: #f8f4fb !important;
}

.content_box {
  padding: 20px;
}

.content_box,
.content h2 {
  margin-bottom: 10px;
}

.content_box,
.content {
  display: none;
}

.content_box,
.content.active {
  display: block;
}

.line {
  width: 142px;
  height: 49px;
  margin: -5px 150px 0 -35px;
  border-radius: 40px;
  background-color: #000;
  position: absolute;
  top: 1729px;
  left: -317px;
  transition: all .3s ease-in-out;
}

#Spotknack-Coins {
  width: 271px;
  height: 31px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  margin-left: 190px;
  color: #000;
}

#Amazon-Gift-Card {
  width: 291px;
  height: 31px;
  margin: 23px 0 24px -370px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;

}

.Harshavarthan-Maran {
  width: 259px;
  height: 20px;
  flex-grow: 0;
  margin: 4px 50px 5px 63px;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Front-End-Developer {
  width: 136px;
  height: 20px;
  flex-grow: 0;
  margin: 5px 173px 14px 63px;
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.mobile {
  width: 8px;
  height: 31px;
  flex-grow: 0;
  margin: -40px 63px 22px 11px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Line-7 {
  width: 748px;
  height: 1px;
  flex-grow: 0;
  margin: 13px 0 0;
  opacity: 0.5;
  background-color: #000;
}

.match {

  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 440px;
  margin-top: -20px;
  padding-top: 30px;

}

.nack {
  width: 72px;
  height: 30px;
  flex-grow: 0;
  margin: -70px 37px 13px 603px;
  padding: 10px 22px 9px 20px;
  opacity: 0.7;
  border-radius: 30px;
  background-color: #f5f5f5;
}

.pack {
  width: 50px;
  height: 31px;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.content_box {
  position: relative;
  margin-left: 364px;
  margin-top: 26px;
}

.tv {
  position: relative;
  margin-top: 25px;
}

.minor {
  width: 970px;
  height: 98px;
  margin: 35px 132px 20px 23.5px;
  padding: 10px 149px 10px 15px;
  opacity: 0.7;
  border-radius: 40px;
  background-color: #f5f5f5;
}