@media only screen and (max-width:600px){
    .title03{
        
        font-size:27px ;
    }
    .content06{
        font-size: 20px;
    }
    .profiles{
      
        flex-direction: column;
       

    }
    .profile02{
        margin-left: 90px;
        margin-top: 20px;
    }
}
@media only screen and (min-width:600px){
    .title03{
        
        font-size:30px ;
    }
    .content06{
        font-size: 25px;
    }
    .profiles{
      
        flex-direction: column;
       

    }
    .profile02{
        margin-left: 90px;
        margin-top: 20px;
    }
}
@media only screen and (min-width:768px){
    .title03{
        
        font-size:30px ;
    }
    .content06{
        font-size: 25px;
    }
    .profiles{
      
        flex-direction: row;
       

    }
    .profile02{
        margin-left: 90px;
        margin-top: 20px;
    }
}
