/*Nav bar*/
.logo-01 {
    width: 300px;
    margin-top: 35px;
    margin-left: 35px;
}

.nav-ele-01 {
    font-size: 25px;
    margin-top: 35px;
    margin-left: 123px;
    font-family: 'Poppins', sans-serif;
}

.nav-ele-02,
.nav-ele-03 {
    font-size: 25px;
    margin-top: 35px;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;
}

.main-contain {
    display: flex;
}

/*Growth of students*/
.main-contain-02 {
    display: flex;
    margin-top: 172px;
}

.sub-contain-01 {
    display: flex;
    flex-direction: column;
}

.sub-contain-02 {
    display: flex;
    margin-left: 108px;
    justify-content: center;
    align-items: center;
}

.content01 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 90px;
}

.content02 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-left: 90px;
}

.logo-02,
.logo-03 {
    width: 50px;
}

.count01,
.count02 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.content03,
.content04 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.linkedin {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.coinsearned {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.line01 {
    width: 1px;
    height: 161px;
    background-color: #000;
}

/*Top performers*/
.content05 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 90px;
    font-family: 'Poppins', sans-serif;
}

.main-contain-03 {
    margin-top: 90px;
}

.topperform1 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 490px;
}

.sub-contain-04 {
    display: flex;
}

.topperform2 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 246px;
}

.topperform3 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}

.image01 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 15px;
}

.topperformname1 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.topperformopt1 {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.sub-sub-cont-01 {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.sub-sub-cont-02 {
    display: flex;
    flex-direction: column;
}

.logo-04 {
    width: 35px;
    height: 35px;
}

.count03 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #fff;
}