/*Nav bar*/
.logo-01 {
    width: 300px;
    margin-top: 35px;
    margin-left: 35px;
}

.nav-ele-01 {
    font-size: 25px;
    margin-top: 35px;
    margin-left: 123px;
    font-family: 'Poppins', sans-serif;
}

.nav-ele-02,
.nav-ele-03 {
    font-size: 25px;
    margin-top: 35px;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;
}

.main-contain {
    display: flex;
}

/*Growth of students*/
.main-contain-02 {
    display: flex;
    margin-top: 172px;
}

.sub-contain-01 {
    display: flex;
    flex-direction: column;
}

.sub-contain-02 {
    display: flex;
    margin-left: 108px;
    justify-content: center;
    align-items: center;
}

.content01 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 90px;
}

.content02 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-left: 90px;
}

.logo-02,
.logo-03 {
    width: 50px;
}

.count01,
.count02 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.content03,
.content04 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.linkedin {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.coinsearned {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.line01 {
    width: 1px;
    height: 161px;
    background-color: #000;
    opacity: 0.5;
}

/*Top performers*/
.content05 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 90px;
    font-family: 'Poppins', sans-serif;
}

.main-contain-03 {
    margin-top: 90px;
}

.topperform1 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 490px;
}

.sub-contain-04 {
    display: flex;
}

.topperform2 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 246px;
}

.topperform3 {
    border-radius: 15px;
    background-color: #000;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}

.image01 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 15px;
}

.topperformname1 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.topperformopt1 {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.sub-sub-cont-01 {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.sub-sub-cont-02 {
    display: flex;
    flex-direction: column;
}

.logo-04 {
    width: 35px;
    height: 35px;
}

.count03 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

/*Gift Card Earners*/
.topperform4 {
    border-radius: 15px;
    background-color: #f90;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 490px;
}

.topperformname2 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.topperformopt2 {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.count04 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #000;
}

.topperform5 {
    border-radius: 15px;
    background-color: #f90;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 246px;
}

.topperform6 {
    border-radius: 15px;
    background-color: #f90;
    width: 459px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}

/*Table*/
.main-contain-04 {
    margin-top: 90px;
}

.title01 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 90px;
}

.logo-05 {
    width: 25px;
    height: 25px;
}

.tablecoin {
    width: 92px;
    height: 50px;
    border-radius: 30px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.count05 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#cointable {
    border: #000 1px solid;
    margin-left: 360px;
}

td {
    font-family: 'Poppins', sans-serif;
}

.sino {
    font-family: 'Poppins', sans-serif;
    width: 40px;
    font-size: 20px;
    font-weight: 600;
}

.tableusername {
    font-size: 25px;
    font-weight: 500;
}

.tableuseropt {
    font-size: 14px;

}

.nameoptdata {
    width: 330px;
}

.logodata {
    width: 203px;
}

/*What we are proud of*/
.main-contain-07 {
    margin-top: 90px;
}

.title02 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 90px;
}

.content06 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    margin-left: 90px;
}

.image02 {
    width: 107px;
    border-radius: 10px;
}

.logo-06 {
    width: 30px;
    height: 30px;
}

.profile01 {
    display: flex;
    margin-left: 90px;
}

.profile02 {
    display: flex;
    margin-left: 200px;
}

.nameAndprofile {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}

.Gowri-K {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.Kabilesh {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.profiles {
    display: flex;
}